@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

h1 {
    text-align: center;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 50px;
}

.column {
    float: left;
    width: 31.97%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

img {
    border-radius: 50px;
}

figcaption {
    text-align: center;
    color: black;
    font-size: 27px;
    font-family: 'Shadows Into Light', sans-serif;
}

a {
    text-decoration: none;
}